
<html lang="en">
<!-- BEGIN: Head -->
<head>
    <meta charset="utf-8">
    <link href="~/Content/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Midone admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Midone admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="LEFT4CODE">
    <title>Dashboard - Midone - Tailwind HTML Admin Template</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="~/Content/app.css">
    <!-- END: CSS Assets-->
</head>
<!-- END: Head -->
<body class="app">
    @{
        var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
        var userid = claimsIdentity.Claims.FirstOrDefault(x => x.Type == "id").Value;

    }
    <!-- BEGIN: Mobile Menu -->
    <div class="mobile-menu md:hidden">
        <div class="mobile-menu-bar">
            <a href="" class="flex mr-auto">
                <img alt="Midone Tailwind HTML Admin Template" class="w-6" src="~/Content/images/logo.svg">
            </a>
            <a href="javascript:;" id="mobile-menu-toggler"> <i data-feather="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
        </div>
        <ul>
            <li>
                <a href="@Url.Action("Index","Superviseur")" class="menu menu--active ">
                    <div class="menu__icon"> <i data-feather="home"></i> </div>
                    <div class="menu__title"> Dashboard </div>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="menu ">
                    <div class="menu__icon"> <i data-feather="users"></i> </div>
                    <div class="menu__title"> Clients <i data-feather="chevron-down" class="menu__sub-icon"></i> </div>
                </a>
                <ul class="border-t border-theme-24 py-5 hidden">
                    <li>
                        <a href="@Url.Action("newClient","Superviseur")" class="menu">
                            <div class="menu__icon"> <i data-feather="user-plus"></i> </div>
                            <div class="menu__title"> Ajouter un client</div>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("clients","Superviseur")" class="menu">
                            <div class="menu__icon"> <i data-feather="list"></i> </div>
                            <div class="menu__title">Liste clients </div>
                        </a>
                    </li>

                </ul>
            </li>



            <li>
                <a href="javascript:;" class="menu">
                    <div class="menu__icon"> <i data-feather="alert-triangle"></i> </div>
                    <div class="menu__title"> Reclamations <i data-feather="chevron-down" class="menu__sub-icon"></i> </div>
                </a>
                <ul class="">
                    <li>
                        <a href="@Url.Action("reclams","Superviseur")" class="menu">
                            <div class="menu__icon"> <i data-feather="edit"></i> </div>
                            <div class="menu__title">Reclamations</div>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("encours_reclams","Superviseur")" class="menu">
                            <div class="menu__icon"> <i data-feather="align-center"></i> </div>
                            <div class="menu__title">Reclamations non validé </div>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("traite_reclams","Superviseur")" class="menu">
                            <div class="menu__icon"> <i data-feather="align-justify"></i> </div>
                            <div class="menu__title">Reclamations traité </div>
                        </a>
                    </li>


                </ul>
            </li>



            <li class="menu__devider my-6"></li>


            <li>
                <a href="javascript:;" class="menu">
                    <div class="menu__icon"> <i data-feather="list"></i> </div>
                    <div class="menu__title"> Responsable dép  <i data-feather="chevron-down" class="menu__sub-icon"></i> </div>
                </a>
                <ul class="">
                    <li>
                        <a href="@Url.Action("responsables","Superviseur")" class="menu">
                            <div class="menu__icon"> <i data-feather="list"></i> </div>
                            <div class="menu__title">Liste responsable</div>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create","Superviseur")" class="menu">
                            <div class="menu__icon"> <i data-feather="user-plus"></i> </div>
                            <div class="menu__title">Ajouter un responsable </div>
                        </a>
                    </li>


                </ul>
            </li>



            <li class="menu__devider my-6"></li>


            <li>
                <a href="@Url.Action("profile","Superviseur")" class="menu">
                    <div class="menu__icon"> <i data-feather="user"></i> </div>
                    <div class="menu__title"> Profile </div>
                </a>
            </li>
            <li>
                <a href="@Url.Action("logout","Users")" class="menu">
                    <div class="menu__icon"> <i data-feather="log-out"></i> </div>
                    <div class="menu__title"> Se déconnecter </div>
                </a>
            </li>
        </ul>

    </div>
    <!-- END: Mobile Menu -->
    <div class="flex" onload="activelink()">
        <!-- BEGIN: Side Menu -->
        <nav class="side-nav">
            <a href="" class="intro-x flex items-center pl-5 pt-4">
                <img alt="Midone Tailwind HTML Admin Template" class="w-6" src="~/Content/images/logo.svg">
                <span class="hidden xl:block text-white text-lg ml-3"> Mid<span class="font-medium">one</span> </span>
            </a>
            <div class="side-nav__devider my-6"></div>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Superviseur")" class="side-menu side-menu--active " id="dashlink">
                        <div class="side-menu__icon"> <i data-feather="home"></i> </div>
                        <div class="side-menu__title"> Dashboard </div>
                    </a>
                </li>




                <li>
                    <a href="javascript:;" class="side-menu" id="reclamlink">
                        <div class="side-menu__icon"> <i data-feather="alert-triangle"></i> </div>
                        <div class="side-menu__title"> Reclamations <i data-feather="chevron-down" class="side-menu__sub-icon"></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="@Url.Action("reclams","Superviseur")" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="edit"></i> </div>
                                <div class="side-menu__title">Reclamations</div>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("encours_reclams","Superviseur")" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="align-center"></i> </div>
                                <div class="side-menu__title">Reclamations non validé </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("traite_reclams","Superviseur")" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="align-justify"></i> </div>
                                <div class="side-menu__title">Reclamations traité </div>
                            </a>
                        </li>


                    </ul>
                </li>

                <li class="side-nav__devider my-6"></li>


                <li>
                    <a href="javascript:;" class="side-menu" id="respolink">
                        <div class="side-menu__icon"> <i data-feather="users"></i> </div>
                        <div class="side-menu__title"> Responsable dép  <i data-feather="chevron-down" class="side-menu__sub-icon"></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="@Url.Action("responsables","Superviseur")" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="list"></i> </div>
                                <div class="side-menu__title">Liste responsable</div>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create","Superviseur")" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="user-plus"></i> </div>
                                <div class="side-menu__title">Ajouter un responsable </div>
                            </a>
                        </li>


                    </ul>
                </li>




                <li class="side-nav__devider my-6"></li>


                <li>
                    <a href="@Url.Action("profile","Superviseur")" class="side-menu" id="profilelink">
                        <div class="side-menu__icon"> <i data-feather="user"></i> </div>
                        <div class="side-menu__title"> Profile </div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("logout","Users")" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="log-out"></i> </div>
                        <div class="side-menu__title"> Se déconnecter </div>
                    </a>
                </li>
            </ul>

        </nav>
        <!-- END: Side Menu -->
        <!-- BEGIN: Content -->
        <div class="content">
            <!-- BEGIN: Top Bar -->
            <div class="top-bar">
                <!-- BEGIN: Breadcrumb -->
                <div class="-intro-x breadcrumb mr-auto hidden sm:flex"> <a href="" class="">Application</a> <i data-feather="chevron-right" class="breadcrumb__icon"></i> <a href="" class="breadcrumb--active">Dashboard</a> </div>
                <!-- END: Breadcrumb -->
                <!-- BEGIN: Account Menu -->
                <div class="intro-x dropdown w-8 h-8 relative">
                    <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in">
                        @{
                            string imgsrc = "/Content/images/profile-1.jpg";
                            var absolutePath = HttpContext.Current.Server.MapPath("/Content/images/profile_" + userid + ".jpg");
                            if (System.IO.File.Exists(absolutePath)) {
                                imgsrc = "/Content/images/profile_" + userid + ".jpg";
                                }


                        }
                        <img alt="Midone Tailwind HTML Admin Template" src="@imgsrc">
                    </div>
                    <div class="dropdown-box mt-10 absolute w-56 top-0 right-0 z-20">
                        <div class="dropdown-box__content box bg-theme-38 dark:bg-dark-6 text-white">
                            <div class="p-4 border-b border-theme-40 dark:border-dark-3">
                                <div class="font-medium">
                                    @claimsIdentity.FindFirst(x => x.Type == "name").Value
                                </div>
                                <div class="text-xs text-theme-41 dark:text-gray-600"> @claimsIdentity.FindFirst(x => x.Type == System.Security.Claims.ClaimTypes.Role).Value</div>
                            </div>
                            <div class="p-2">
                                <a href="@Url.Action("profile","Superviseur")" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md"> <i data-feather="user" class="w-4 h-4 mr-2"></i> Profile </a>
                            </div>
                            <div class="p-2 border-t border-theme-40 dark:border-dark-3">
                                <a href="@Url.Action("logout","Users")" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md"> <i data-feather="toggle-right" class="w-4 h-4 mr-2"></i> Logout </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Account Menu -->
            </div>
            <!-- END: Top Bar -->

            @RenderBody()


        </div>
        <!-- END: Content -->



    </div>


    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/r-2.2.5/datatables.min.js"></script>
    <script src="https://use.fontawesome.com/10ec0701e6.js"></script>







</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}