
@{
    ViewBag.Title = "messages";
    Layout = "~/Views/Shared/ClientLayout.cshtml";
}

@{
    int userid = int.Parse(System.Security.Claims.ClaimsPrincipal.Current.Claims.FirstOrDefault(c => c.Type == "id").Value);
}
@using System.Globalization;
@{
    CultureInfo french = new CultureInfo("fr-FR"); }





    <div class="intro-y chat grid grid-cols-12 gap-5 mt-5">
        <!-- BEGIN: Chat Side Menu -->
        <div class="col-span-12 lg:col-span-4 xxl:col-span-3">
          
            
            <div class="intro-y pr-1">
                <div class="  p-2">
                    <div class="chat__tabs nav-tabs justify-center flex">
                        <h2 class="text-lg text-gray-600 font-medium mr-auto">
                            Contactez un responsable relation client
                        </h2>
                    </div>
                </div>
            </div>


            <div class="tab-content">
                <div class="tab-content__pane active" id="chats">

                    <div class="chat__chat-list overflow-y-auto scrollbar-hidden pr-1 pt-1 mt-4">
                        @foreach (var rrc in ViewBag.rrc) {
                            <div class="intro-x cursor-pointer box relative flex items-center p-5 mt-5">
                                <div class="w-12 h-12 flex-none image-fit mr-1">
                                    @{

                                        string srcimg = "/Content/images/profile-2.jpg";
                                        if (rrc.photo != null) {
                                            srcimg = "/Content/images/" + rrc.photo;
                                            }



                                    }


                                    <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="@srcimg">
                                    <div class="w-3 h-3 bg-theme-9 absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
                                </div>

                                <div class="ml-2 overflow-hidden">


                                    @{
                                        PFE_reclamation.Models.Responsable_relation_client _rrc = (PFE_reclamation.Models.Responsable_relation_client)rrc;

                                        string fullname = _rrc.nom + " " + _rrc.prenom;
                                        string datemsg = "";
                                        PFE_reclamation.Models.Message lastmsg=new PFE_reclamation.Models.Message();
                                        PFE_reclamation.Models.Message lastmsg2=new PFE_reclamation.Models.Message();
                                        if (_rrc.receivedmessages != null) {
                                            lastmsg = _rrc.receivedmessages.Where(x => x.sentTo.id == _rrc.id && x.sentBy.id == userid).LastOrDefault();
                                            }
                                        if (_rrc.sentmessages != null) {
                                            lastmsg2 = _rrc.sentmessages.Where(x => x.sentBy.id == _rrc.id && x.sentTo.id == userid).LastOrDefault();
                                            }



                                        string msgcontent = "";

                                        if (lastmsg != null && lastmsg2==null) {
                                            msgcontent = lastmsg.content;
                                            datemsg = lastmsg.date.ToString("H:mm");
                                            }else if(lastmsg2 != null && lastmsg == null) {
                                            msgcontent = lastmsg2.content;
                                            datemsg = lastmsg2.date.ToString("H:mm");
                                            }else if(lastmsg!=null && lastmsg2 != null) {


                                            if (lastmsg.date > lastmsg2.date) {
                                                msgcontent = lastmsg.content;
                                                datemsg = lastmsg.date.ToString("H:mm");

                                                } else {
                                                msgcontent = lastmsg2.content;
                                                datemsg = lastmsg2.date.ToString("H:mm");
                                                }
                                            }
                                    }




                                    <div class="flex  items-center">
                                        <a href="@Url.Action("messages", "Client", new { id = rrc.id })" class="font-medium mr-20"> @fullname</a>

                                        <div class="text-xs text-gray-500 ml-24  ">@datemsg</div>
                                    </div>

                                    <div class="truncate text-gray-600">
                                     
                                        @msgcontent    

                                    </div>
                                </div>
                            </div>


                            

                            }

                    </div>
                </div>

            </div>
        </div>
        <!-- END: Chat Side Menu -->







        @if (ViewBag.msgs != null) {
            <!-- BEGIN: Chat Content -->


            DateTime date = DateTime.Now.AddYears(-10);


            <div class="intro-y col-span-12 lg:col-span-8 xxl:col-span-9">
                <div class="chat__box box">
                    <!-- BEGIN: Chat Active -->
                    <div class=" h-full flex flex-col">
                        <div class="flex flex-col sm:flex-row border-b border-gray-200 dark:border-dark-5 px-5 py-4">
                            <div class="flex items-center">


                                <div class="w-10 h-10 sm:w-12 sm:h-12 flex-none image-fit relative">
                                   

                                    @{

                                        string img = "/Content/images/profile-2.jpg";
                                        if (ViewBag.rrcimg != null) {
                                            img = "/Content/images/" + ViewBag.rrcimg;
                                            }



                                    }


                                    <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="@img">
                                </div>



                                <div class="ml-3 mr-auto">
                                    <div class="font-medium text-base">@ViewBag.rrcname</div>

                                </div>
                            </div>




                        </div>
                        <div class="overflow-y-scroll scrollbar-hidden px-5 pt-5 flex-1">
                      
                    
                                @foreach (PFE_reclamation.Models.Message msg in ViewBag.msgs) {
                                    if (msg != null && msg.date > date.AddDays(3)) {
                                        date = msg.date;

                                        <div class="text-gray-500 dark:text-gray-600 text-xs text-center mb-10 mt-5">@date.ToString("dddd, dd MMMM yyyy HH:mm:ss", french)</div>
                                        }

                                    if (msg.sentBy.id == userid) {
                                        <div class="chat__box__text-box flex items-end float-right mb-4">

                                            <div class="bg-theme-1 px-4 py-3 text-white rounded-l-md rounded-t-md">
                                                @msg.content
                                                <div class="mt-1 text-xs text-theme-25">@msg.date.ToString("dd/MM/yyyy H:mm:s", french)</div>
                                            </div>
                                            <div class="w-10 h-10 hidden sm:block flex-none image-fit relative ml-5">
                                                @{

                                                    string imgsrc = "/Content/images/profile-2.jpg";
                                                    if (msg.sentBy != null) {
                                                        imgsrc = "/Content/images/" + msg.sentBy.photo;
                                                        }



                                                }
                                                <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="@imgsrc">
                                            </div>
                                        </div>


                                        <div class="clear-both"></div>


                                        } else {

                                        <div class="chat__box__text-box flex items-end float-left mb-4">
                                            <div class="w-10 h-10 hidden sm:block flex-none image-fit relative mr-5">
                                                @{

                                                    string imgsrc = "/Content/images/profile-2.jpg";
                                                    if (msg.sentBy != null) {
                                                        imgsrc = "/Content/images/" + msg.sentBy.photo;
                                                        }



                                                }
                                                <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="@imgsrc">
                                            </div>
                                            <div class="bg-gray-200 dark:bg-dark-5 px-4 py-3 text-gray-700 dark:text-gray-300 rounded-r-md rounded-t-md">
                                                @msg.content
                                                <div class="mt-1 text-xs text-gray-600">@msg.date.ToString("dd/MM/yyyy H:mm:s", french)</div>
                                            </div>

                                        </div>

                                        <div class="clear-both"></div>

                                        }
                                    }




                             






                            </div>


                        @using (Html.BeginForm("sendmsg", "Client")) {






                            <div class="pt-4 pb-10 sm:py-4 flex items-center border-t border-gray-200 dark:border-dark-5">
                                <textarea name="msg" class="chat__box__input input dark:bg-dark-3 w-full h-16 resize-none border-transparent px-5 py-3 focus:shadow-none" rows="1" placeholder="Type your message..."></textarea>
                                <input type="hidden" name="to" value="@ViewBag.rrcid" />

                                <button type="submit" href="javascript:;" class="w-8 h-8 sm:w-10 sm:h-10 block bg-theme-1 text-white rounded-full flex-none flex items-center justify-center mr-5"> <i data-feather="send" class="w-4 h-4"></i> </button>
                            </div>


                            }

                    </div>
                    <!-- END: Chat Active -->

                </div>
            </div>
            <!-- END: Chat Content -->
            }

    </div>


    <script>

    window.onload = function () {

        var dashlink = this.document.getElementById("dashlink");
        var chatlink = this.document.getElementById("chatlink");

        dashlink.classList.remove("side-menu--active");
        chatlink.classList.add("side-menu--active");


    };
    </script>