@model IEnumerable<PFE_reclamation.Models.Reclamation>

@{
    ViewBag.Title = "reclams";
    Layout = "~/Views/Shared/RRCLayout.cshtml";
}
@using System.Globalization;
@{
    CultureInfo french = new CultureInfo("fr-FR"); }
<div class="grid grid-cols-12 gap-6 mt-5">

    <div class="intro-y col-span-12 lg:col-span-12">
        <!-- BEGIN: Form Layout -->
        <div class="intro-y box lg:mt-5">
            <div class="flex items-center p-5 border-b border-gray-200 dark:border-dark-5">
                <h2 class="font-medium text-base mr-auto">
                    Reclamations
                </h2>
            </div>
            <!-- BEGIN: Datatable -->
            <div class="intro-y datatable-wrapper box p-5 mt-5">
                <table class="table table-report table-report--bordered display datatable w-full">
                    <thead>
                        <tr>
                            <th class="border-b-2 text-center whitespace-no-wrap sorting_desc" aria-sort="descending">
                                Numéro
                            </th>
                            <th class=" whitespace-no-wrap">

                                Date création
                            </th>
                            <th class=" whitespace-no-wrap">
                                Date de réglement
                            </th>
                            <th class=" whitespace-no-wrap">
                                Type
                            </th>
                            <th class="whitespace-no-wrap">
                                Departement
                            </th>
                            <th class=" whitespace-no-wrap">
                                Etat
                            </th>

                            <th class=" whitespace-no-wrap">
                                Actions
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var recl in Model) {

                            <tr class="intro-x">

                                <td>

                                    <div class="font-medium whitespace-no-wrap">  @Html.DisplayFor(modelItem => recl.id)</div>
                                </td>
                                <td>

                                    <div class="font-medium whitespace-no-wrap">
                                        @{
                                            var d2 = recl.debut_reclam.ToString("dd/MM/yyyy", french);

                                            @d2;
                                        }

                                    </div>
                                </td>
                                <td>

                                    <div class="font-medium whitespace-no-wrap">
                                        @if (recl.fin_reclam != null) {


                                            var d1 = recl.fin_reclam.Value.ToString("dd/MM/yyyy", french);

                                            @d1
                                            } else {

                                            @Html.Raw("----")

                                            }





                                    </div>
                                </td>
                                <td>

                                    <div class="font-medium whitespace-no-wrap">  @Html.DisplayFor(modelItem => recl.type)</div>
                                </td>
                                <td>

                                    <div class="font-medium whitespace-no-wrap">
                                        @if (recl.Departement != null) {
                                            @Html.DisplayFor(modelItem => recl.Departement.label);
                                            } else {
                                            @Html.Raw("non attribué")
                                            }
                                    </div>
                                </td>
                                <td>
                                    @if (recl.etat == PFE_reclamation.Models.Etat.Nouveau) {
                                        <div class="flex text-theme-6"> <i data-feather="check-square" class="w-4 h-4 mr-2"></i> Nouveau </div>
                                        } else if (recl.etat == PFE_reclamation.Models.Etat.En_cours) {
                                        <div class="flex  text-theme-9"> <i data-loading-icon="spinning-circles" class="w-4 h-4 mr-2"></i> En cours </div>
                                        } else {
                                        <div class="flex   text-gray-600"> <i data-feather="check-square" class="w-4 h-4 mr-2"></i> Finis</div>
                                        }




                                </td>




                                <td class="table-report__action w-56">
                                    <div class="flex justify-start ">
                                        @{


                                            string titre = "\"" + recl.titre + "\"";
                                            string descr = "\"" + recl.description + "\"";
                                            string type = "\"" + recl.type + "\"";
                                            string etat = "\"" + recl.etat + "\"";
                                            string cin = "\"" + recl.Client.cin + "\"";
                                            string name = "\"" + recl.Client.nom + " " + recl.Client.prenom + "\"";
                                            string date = "\"" + recl.debut_reclam.ToString("dd/MM/yyyy", french) + "\"";



                                            <a class="flex  items-center text-gray-600" href="javascript:;" onclick="Afficher(@recl.id,@titre,@descr,@type,@etat,@cin,@name,@date)"
                                               data-toggle="modal" data-target="#Recl-confirmation-modal"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Afficher </a>

                                        }
                                        @if (recl.etat == PFE_reclamation.Models.Etat.Nouveau) {
                                            <a class="flex items-center text-theme-6 ml-2" href="javascript:;" onclick="deletefn(@recl.id)" id="deletemodal" data-toggle="modal" data-target="#delete-confirmation-modal"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Supprimer </a>

                                            }
                                    </div>
                                </td>
                            </tr>
                            }
                    </tbody>
                </table>
            </div>

            <!-- END: Data List -->
        </div>
        <!-- END: Form Layout -->
    </div>

</div>



<div class="modal" id="Recl-confirmation-modal">
    <div class="modal__content">

        <div class="intro-y col-span-12 md:col-span-6 lg:col-span-4">
            <div class="box">
                <div class="flex items-start px-5 pt-5">
                    <div class="w-full flex flex-col lg:flex-row items-center">

                        <div class="lg:ml-4 text-center lg:text-left mt-3 lg:mt-0">
                            <span id="clname" class="font-medium"> </span>
                            <div class="text-gray-600 text-xs">
                                <span id="clcin"></span>
                                <span id="recdate" class="absolute right-0 mr-4 "></span>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="text-center lg:text-left p-5">
                    <div class="flex items-center justify-center lg:justify-start text-gray-600 mt-1">
                        <span id="recetat" class="mt-2"></span>
                        <span id="rectype" class="absolute right-0 mr-4 mt-2"></span>
                    </div>
                    <div class="flex items-center justify-center lg:justify-start text-gray-600 mt-5">
                        <span id="rectitle" class="mt-2"></span>

                    </div>


                    <div class="mt-4 text-gray-600"><span id="recdescr"></span> </div>
                </div>
                <div class="text-center lg:text-right p-5 border-t border-gray-200 dark:border-dark-5">
                    @using (Html.BeginForm("verify", "RRC")) {
                        <input type="hidden" name="id" id="modclid" value="" />
                        <button type="submit" class="button button--sm text-white bg-theme-1 mr-2" id="verifybtn">Vérifier</button>


                        <button data-dismiss="modal" class="button button--sm text-gray-700 border border-gray-300 dark:border-dark-5 dark:text-gray-300">Annuler</button>
                        }
                </div>
            </div>
        </div>
    </div>
</div>



<!-- BEGIN: Delete Confirmation Modal -->
<div class="modal" id="delete-confirmation-modal">
    <div class="modal__content">
        <div class="p-5 text-center">
            <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
            <div class="text-3xl mt-5">Êtes-vous sûr?</div>
            <div class="text-gray-600 mt-2">Voulez-vous vraiment supprimer ce client? Ce processus ne peut pas être annulé.</div>
        </div>
        <div class="px-5 pb-8 text-center">
            <form action="@Url.Action("deleteReclam","RRC" )">
                <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 mr-1">Annuler</button>

                <input type="hidden" name="id" value="" id="deleteid" />
                <button type="submit" class="button w-24 bg-theme-6 text-white">Supprimer</button>
            </form>

        </div>
    </div>
</div>
<!-- END: Delete Confirmation Modal -->



<script>

    function deletefn(id) {



        document.getElementById("deleteid").value = id;

        
    }

</script>

<script>


    function Afficher(id, titre, descr, type, etat, cin, name, date) {


        console.log(date);

        document.getElementById("modclid").value = id;
        document.getElementById("clname").textContent = name;
        document.getElementById("clcin").textContent = cin;

        document.getElementById("rectitle").textContent = titre;
        document.getElementById("recdate").textContent = date;
        document.getElementById("recetat").textContent = etat;

        document.getElementById("rectype").textContent = type;
        document.getElementById("recdescr").textContent = descr;



        if (etat == "Nouveau") {
            document.getElementById("verifybtn").style.visibility = 'visible';
        } else {
            document.getElementById("verifybtn").style.visibility = 'hidden';
        }



    }
</script>

<script>

    window.onload = function () {

        var dashlink = this.document.getElementById("dashlink");
        var reclamlink = this.document.getElementById("reclamlink");

        dashlink.classList.remove("side-menu--active");
        reclamlink.classList.add("side-menu--active");


    };
</script>