@model IEnumerable<PFE_reclamation.Models.Reclamation>

@{
    ViewBag.Title = "reclams_traite";
    Layout = "~/Views/Shared/AgentLayout.cshtml";
}

<h2>reclams_traite</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Departement.label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Traite.detaille)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.debut_reclam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fin_reclam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.etat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Departement.label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Traite.detaille)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.debut_reclam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fin_reclam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.etat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
